html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%
}
* {
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
ol, ul {
    list-style: none;
}
body {
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #F4F7F5;
    background: #222222;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    margin: 115px 20px 0;
    text-align: center;
}
h1 {
    font-size: 35px;
    font-weight: 200;
    margin: 0 auto;
    max-width: 655px;
    padding-bottom: 5px;
}
h2, footer a {
    color: #888;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 44px 0 24px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}
h3 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin: 40px 20px 6px;
}
p {
    margin: 0 20px;
    color: #888;
}
section {
    margin-top: 70px;
    margin: 0 auto;
    text-align: center;
}
footer {
    margin: 0 auto 45px;
    text-align: center;
}
footer a {
    text-decoration: underline;
}
::selection {
    background: #010727; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #010727; /* Gecko Browsers */
}
.bold {
    font-weight: 600;
}
.hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 65px auto 45px;
    width: 65px;
}
.social-media-links {
    padding: 45px 0 0px;
    margin: 0 auto;
    width: 165px;
}
.social-media-links li {
    display: inline;
    padding: 0 10px 0 0;
} 
.social-media-links li a {
    color: #F4F7F5;
    opacity: 0.6;
    font-size: 1.3em;
}
